doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="views/style.css")
        title Homepage
    body 
    h1 Welcome to Edu's Library!
    br
    br
    button(onclick="redirectToSignup()") Signup 
    br
    br
    button(onclick="redirectToLogin()") Log in
    script.
         const redirectToSignup = () => {window.location.href = '/signup'}
         const redirectToLogin = () => {window.location.href = '/login'}
    style.
        body{
            background-color: #354034;
            text-align: center;
            color: azure;
        }      