doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Settings
    body    
        div(class="top")
            h1 Settings
            button(onclick="") Back

        br
        br
        button(onclick="loadUsernameChange()") Change username
        br
        br
        button(onclick="loadPasswordChange()") Change Password 
    
    script.
        const loadUsernameChange = () => {window.location.href = "/userSpace/changeUsername"}
        const loadPasswordCHange = () => {window.location.href = "/userSpace/changePassword"}


    style.
        body{
            font-family: "Courier New", monospace;
            background-color: #354034;
            text-align: center;
            color: azure;
        }  
        .top{

        }


    