doctype hmtl 
html 
    head
    link(rel="stylesheet", href="style.css") 
    body 
        h1 Sign Up 
        br
        br
        button(onclick="renderHomepage()") Homepage
        br
        br
        form(action="/signup", method="POST")
            label(for="name") Name:
            input(type="text", name="name")
            br
            br 
            label(for="name") Username:
            input(type="text", name="username")
            br
            br 
            label(for="email") Email:
            input(type="email", name="email")
            br
            br
            label(for="password") Password:
            input(type="password", name="password")
            br
            br
            button(type="submit") Sign Up
    
    script.
        const renderHomepage = () => {window.location.href = "/homepage"}
    
    style.
        body{
            font-family: "Courier New", monospace;
            background-color: #354034;
            text-align: center;
            color: azure;
        }  